#include <Scripting.h>

using namespace Ludus::Scripts;

static void OnCreate(ScriptContext* context, EntityHandle self)
{
	(void)context;
	(void)self;
}

static void OnUpdate(ScriptContext* context, EntityHandle self, float deltaTime)
{
	Transform2DData transform;
	if (!GetTransform(context, self, &transform))
	{
		return;
	}

	constexpr float speed = 5.0f;

	if (GetKey(context, Key::W))
	{
		transform.Position.Y += speed * deltaTime;
	}

	if (GetKey(context, Key::S))
	{
		transform.Position.Y -= speed * deltaTime;
	}

	if (GetKey(context, Key::A))
	{
		transform.Position.X -= speed * deltaTime;
	}

	if (GetKey(context, Key::D))
	{
		transform.Position.X += speed * deltaTime;
	}

	SetTransform(context, self, &transform);
}

static void OnDestroy(ScriptContext* context, EntityHandle self)
{
	(void)context;
	(void)self;
}

LUDUS_DEFINE_SCRIPT(SCRIPT_NAME, &OnCreate, &OnDestroy, &OnUpdate);
