<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">

	<ItemGroup Label="ProjectConfigurations">
		<ProjectConfiguration Include="Debug|x64">
			<Configuration>Debug</Configuration>
			<Platform>x64</Platform>
		</ProjectConfiguration>
		<ProjectConfiguration Include="Release|x64">
			<Configuration>Release</Configuration>
			<Platform>x64</Platform>
		</ProjectConfiguration>
	</ItemGroup>

	<PropertyGroup Label="Globals">
		<VCProjectVersion>17.0</VCProjectVersion>
		<Keyword>Win32Proj</Keyword>
		<ProjectGuid>{${LUDUS_RUNTIME_HOST_PROJECT_GUID}}</ProjectGuid>
		<RootNamespace>Runtime Host</RootNamespace>
		<WindowsTargetPlatformVersion>10.0</WindowsTargetPlatformVersion>
	</PropertyGroup>

	<Import Project="$(VCTargetsPath)\Microsoft.Cpp.Default.props" />

	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'" Label="Configuration">
		<ConfigurationType>Application</ConfigurationType>
		<UseDebugLibraries>true</UseDebugLibraries>
		<PlatformToolset>v145</PlatformToolset>
		<CharacterSet>Unicode</CharacterSet>
	</PropertyGroup>

	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'" Label="Configuration">
		<ConfigurationType>Application</ConfigurationType>
		<UseDebugLibraries>false</UseDebugLibraries>
		<PlatformToolset>v145</PlatformToolset>
		<WholeProgramOptimization>true</WholeProgramOptimization>
		<CharacterSet>Unicode</CharacterSet>
	</PropertyGroup>

	<Import Project="$(VCTargetsPath)\Microsoft.Cpp.props" />

	<PropertyGroup Label="UserMacros" />

	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
		<OutDir>${LUDUS_RUNTIME_HOST_OUT_DIR}\$(Platform)\$(Configuration)\</OutDir>
		<IntDir>${LUDUS_RUNTIME_HOST_INT_DIR}\$(Platform)\$(Configuration)\</IntDir>
		<TargetName>${LUDUS_RUNTIME_HOST_TARGET_NAME}</TargetName>
		<LocalDebuggerWorkingDirectory>$(OutDir)</LocalDebuggerWorkingDirectory>
		<LocalDebuggerEnvironment>PATH=$(VcpkgInstalledDir)$(VcpkgTriplet)\debug\bin;$(VcpkgInstalledDir)$(VcpkgTriplet)\bin;%PATH%</LocalDebuggerEnvironment>
		<LocalDebuggerMergeEnvironment>true</LocalDebuggerMergeEnvironment>
	</PropertyGroup>

	<PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
		<OutDir>${LUDUS_RUNTIME_HOST_OUT_DIR}\$(Platform)\$(Configuration)\</OutDir>
		<IntDir>${LUDUS_RUNTIME_HOST_INT_DIR}\$(Platform)\$(Configuration)\</IntDir>
		<TargetName>${LUDUS_RUNTIME_HOST_TARGET_NAME}</TargetName>
		<LocalDebuggerWorkingDirectory>$(OutDir)</LocalDebuggerWorkingDirectory>
		<LocalDebuggerEnvironment>PATH=$(VcpkgInstalledDir)$(VcpkgTriplet)\bin;$(VcpkgInstalledDir)$(VcpkgTriplet)\debug\bin;%PATH%</LocalDebuggerEnvironment>
		<LocalDebuggerMergeEnvironment>true</LocalDebuggerMergeEnvironment>
	</PropertyGroup>

	<ItemGroup>
		<ClCompile Include="RuntimeHostModule.cpp" />
	</ItemGroup>

	<ItemDefinitionGroup>
		<ClCompile>
			<LanguageStandard>stdcpp20</LanguageStandard>
			<ConformanceMode>true</ConformanceMode>
			<PrecompiledHeader>NotUsing</PrecompiledHeader>
			<MultiProcessorCompilation>true</MultiProcessorCompilation>
			<WarningLevel>Level3</WarningLevel>
			<SDLCheck>true</SDLCheck>
			<AdditionalIncludeDirectories>${LUDUS_RUNTIME_HOST_ENGINE_GLAD_INCLUDE_DIR};${LUDUS_RUNTIME_HOST_ENGINE_INCLUDE_DIR};${LUDUS_RUNTIME_HOST_ENGINE_VENDOR_DIR};$(ProjectDir);%(AdditionalIncludeDirectories)</AdditionalIncludeDirectories>
		</ClCompile>
		<Link>
			<SubSystem>Windows</SubSystem>
			<EntryPointSymbol>mainCRTStartup</EntryPointSymbol>
			<GenerateDebugInformation>true</GenerateDebugInformation>
			<AdditionalDependencies>glfw3dll.lib;opengl32.lib;user32.lib;gdi32.lib;shell32.lib;ole32.lib;%(AdditionalDependencies)</AdditionalDependencies>
		</Link>
		<ProjectReference>
			<UseLibraryDependencyInputs>true</UseLibraryDependencyInputs>
		</ProjectReference>
	</ItemDefinitionGroup>

	<ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Debug|x64'">
		<ClCompile>
			<PreprocessorDefinitions>_DEBUG;_WINDOWS;%(PreprocessorDefinitions)</PreprocessorDefinitions>
			<RuntimeLibrary>MultiThreadedDebugDLL</RuntimeLibrary>
		</ClCompile>
		<PostBuildEvent>
			<Command>xcopy /y /e /i /d "${LUDUS_RUNTIME_HOST_ENGINE_RESOURCES_DIR}\*" "$(OutDir)Resources\"</Command>
		</PostBuildEvent>
	</ItemDefinitionGroup>

	<ItemDefinitionGroup Condition="'$(Configuration)|$(Platform)'=='Release|x64'">
		<ClCompile>
			<PreprocessorDefinitions>NDEBUG;_WINDOWS;%(PreprocessorDefinitions)</PreprocessorDefinitions>
			<RuntimeLibrary>MultiThreadedDLL</RuntimeLibrary>
			<FunctionLevelLinking>true</FunctionLevelLinking>
			<IntrinsicFunctions>true</IntrinsicFunctions>
		</ClCompile>
		<PostBuildEvent>
			<Command>xcopy /y /e /i /d "${LUDUS_RUNTIME_HOST_ENGINE_RESOURCES_DIR}\*" "$(OutDir)Resources\"</Command>
		</PostBuildEvent>
	</ItemDefinitionGroup>

	<ItemGroup>
		<ProjectReference Include="${LUDUS_RUNTIME_HOST_ENGINE_PROJECT_PATH}">
			<Project>{e5222f19-54e2-431b-b8a5-67dc31e554e1}</Project>
		</ProjectReference>
	</ItemGroup>

	<Target Name="CopyVcpkgRuntimeDlls" AfterTargets="Build" Condition="'$(ConfigurationType)' == 'Application' and '$(Platform)' == 'x64'">
		<PropertyGroup>
			<VcpkgRuntimeBinDir Condition="'$(Configuration)' == 'Debug'">$(VcpkgInstalledDir)$(VcpkgTriplet)\debug\bin\</VcpkgRuntimeBinDir>
			<VcpkgRuntimeBinDir Condition="'$(Configuration)' != 'Debug'">$(VcpkgInstalledDir)$(VcpkgTriplet)\bin\</VcpkgRuntimeBinDir>
		</PropertyGroup>
		<ItemGroup Condition="Exists('$(VcpkgRuntimeBinDir)')">
			<VcpkgRuntimeDlls Include="$(VcpkgRuntimeBinDir)*.dll" />
		</ItemGroup>
		<Copy SourceFiles="@(VcpkgRuntimeDlls)" DestinationFolder="$(OutDir)" SkipUnchangedFiles="true" OverwriteReadOnlyFiles="true" UseHardlinksIfPossible="false" Condition="'@(VcpkgRuntimeDlls)' != ''" />
	</Target>

	<Import Project="$(VCTargetsPath)\Microsoft.Cpp.targets" />

</Project>
